<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="dongchen">
    <title>测试页面</title>

    <script src="/static/lib/requirejs/require.js"></script>
    <script src="/static/require-config.js"></script>
    <script src="/static/app-index.js"></script>
</head>
<body>
    <div class="api-content"></div>
</body>
</html>