<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>response页面</title>
    <style>
        textarea{
            width : 480px;
            min-height: 600px;
        }
    </style>
</head>
<body>
    <textarea>
        ${response}
    </textarea>
</body>
</html>